<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="{% url '/' %}">GoodDays</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url '/' %}">Home</a></li>                        
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for category in categories %}
                      {% if category.category_name == 'รองเท้า'%}
                      <li><a class="dropdown-item" href="{% url 'shoes' %}">{{category.category_name}}</a></li>
                      {% else %}
                      <li><a class="dropdown-item" href="{% url 'bags' %}">{{category.category_name}}</a></li>
                      {% endif %}
                      {% endfor %}
                  </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
          </ul>


          <!-- <form class="d-flex me-2"> -->
          <form class="d-flex me-2" action="/search" method="post"> 
            {% csrf_token %}
            <input class="form-control" name="search" type="search" placeholder="ค้นหา..." aria-label="Search" value="{{search}}">
            <button class="btn btn-md btn-primary" type="submit">Search</button>                        
          </form>

          &nbsp;&nbsp;
          
          <form class="d-flex" action="/cart" method="post">     
            {% csrf_token %}         
              <button class="btn btn-md btn-outline-secondary" name="cart" type="submit">
                  <i class="bi bi-bag"></i>
                  Cart
                  {% if number_of_items_in_cart > 0 %}
                    <span class="badge bg-danger text-white ms-1 rounded-pill" id="add_to_cart_item_count">{{number_of_items_in_cart}}</span>
                  {% else %}
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="add_to_cart_item_count">0</span>
                  {% endif %}
              </button>
          </form>
        
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        {% if user.is_authenticated %}
        <p class="pt-3">&nbsp;&nbsp;<a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p class="pt-3">&nbsp;&nbsp;<a href="{% url 'login' %}">Login</a></p>
        {% endif %}

        

    </div>
</nav>



 
